--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0
torchvision==0.29.0
transformers==5.17.0
safetensors
huggingface_hub
numpy
pillow
num2words
laya @ git+https://github.com/r33drichards/laya-vision@404fc4a63208d14b544d5c852f81e88972d267bb
